@media screen and (min-width: 425px) and (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column;
        padding: 20px 50px;
        fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    }
    .banner-image {
        width: 90%;
    }
    .banner-info {
        width: 100%;
        margin-left: 0;
    }
    .gamer-container {
        margin: 20px 10px;
        flex-direction: column;
    }
    .gamer-image{
        width: 100%;
        margin-top: 200px;
        padding: 20px 50px;
    }
    .gamer-info{
        width: 100%;
        text-align: left;
        padding: 20px 50px;
    }
    .online-games-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .online-games-header{
        margin-top: 150px;
    }
    .play-games{
       flex-direction: column;
        margin: 10px;
        min-height: 100vh;
    }
    .play-games-info{
        width: 100%;
        padding: 200px 0;
    }
    .play-games-image{
        width: 90%;
    }
    .items-conainer{
        margin: 300px 10px;
    }
}

@media screen and (max-width: 425px) {
    /* navbar responsive starts from here */
    nav, ul{
        flex-direction: column;
    }
    ul{
        margin-top: 20px;
    }
    /* navbar responsive end here */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-info {
        width: 100%;
        margin: 30px;
    }
    .banner-image{
        width: 100%;
        margin: 30px;
    }
    .banner-container {
        padding: 0px 30px;
    }
    /* gamer section responsive starts from here */
    .gamer-container{
        flex-direction: column;
    }
    .gamer-info{
        width: 100%;
        text-align: center;
    }
    .style-description{
        text-align: center;
    }
    .style-heading{
        text-align: center;
    }
    .gamer-container{
        margin: 20px 10px;
    }
    .gamer-image{
        width: 100%;
        margin-top: 30px;
    }
    /* gamer section responsive end here */

    /* online card responsive here */
    .online-games-card-container{
        margin: 20px 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .online-games-title{
        margin-top: 100px;
    }
    .play-games{
        display: flex;
        flex-direction: column;
    }
    .play-games-info{
        width: 100%;
    }
    .play-games-image{
        width: 100%;
        padding: 50px;
    }
    .play-games{
        margin: 0 10px;
    }
    .imaege-badge{
        right: -50px;
        bottom: -50px;
        width: 200px;
        height: 200px;
    }
    .footer-div3{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px auto;
    }
    .footer-div4{
        grid-template-columns: repeat(2, 1fr);
    }
    .items-conainer{
        margin: 200px 10px;
    }
}